
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert-message alert-message-notice">
                <h4>
                    Access Deniled !!
                </h4>
                <p>
                    <strong>
                        Yetkisiz giris


                    </strong>
                </p>
            </div>
        </div>
    </div>

</div>
