
@{
    ViewData["Title"] = "ForgotPassword";
}


<div class="container">
    <div class="row">
        <h3>Parolayi unuttum ?</h3>
        <br />
      <div class="form-group">
          <div class="col-md-12">
              <form asp-action="ForgotPassword" asp-controller="Security" method="post">
                  <label>Email adres</label>
                  <input type="email" required class="form-control" name="email" id="email" />
                  <br />
                  <button type="submit" class="btn btn-primary">Confrim Email</button>
              </form>
          </div>
      </div>
    </div>
</div>

