
@{
    ViewData["Title"] = "ForgotPasswordEmailSend";
}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="alert-message alert-message-notice">
                    <h4>
                       Dikkat !
                    </h4>
                    <p>
                        <strong>
                            Parola sifirlama linki mail adresinize gonderildi lutfe eposta kutunuzu kontrol ediniz


                        </strong>
                    </p>
                </div>
            </div>
        </div>

    </div>

