
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <br />
    <div class="row">

        <div class="col-md-12">
            <h2>Excel File</h2>

            <form asp-action="ImportExcel" asp-controller="Excel" method="post" enctype="multipart/form-data">

                <div class="col-md-8">
                    <div class="form-group">
                        <input type="file" name="formFile" />
                    </div>
                </div>
                <br />

                <div class="col-md-4">
                    <button type="submit" class="btn btn-info">Import Excel</button>
                </div>
            </form>

            <br />
            <div class=" container form-group">
                <a class="btn btn-warning" asp-action="ExportExcel" asp-controller="Excel">Export Excel</a>
            </div>
        </div>
    </div>
</div>

