@model ImageModel

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h3>Image File</h3>
            @if (Model.ImagePath != null && Model.ImagePath.Length > 0)
            {
                <div class="col-md-12">
                    <img src="@Model.ImagePath" />
                </div>
            }

            <form asp-action="AddImage" asp-controller="WebPImage" method="post" enctype="multipart/form-data">

                <div class="col-md-8">
                    <div class="custom-file">
                        <input required type="file" name="formFile" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <br />

                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Add Image</button>
                </div>
            </form>


        </div>

    </div>
</div>

